.container{
    border: solid 2px rgba(255,255,255,0.2);

}
table{
    color: #fff;
    font-size: 16px;
    table-layout: fixed;
    border-collapse: collapse;
}
thead{
    background-color: rgb(33, 0, 70);
}

th{
    padding: 25px 20px;
    font-weight: 700;
    text-transform: uppercase;
}

td{
    padding: 17px;
    border-bottom: solid 2px rgba(255,255,255,0.2);
}
tbody tr{
    cursor: pointer;
}

tbody tr:hover{
    background: red;

}
