<div class="container">
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Type</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of persons; index as i">
      <th scope="row">{{i}}</th>
      <td>{{person.position}}</td>
      <td>{{person.name}}</td>
      <td>{{person.age}}</td>
    </tr>
    
  </tbody>
  </table>
</div>
<router-outlet></router-outlet>
