/* You can add global styles to this file, and also import other style files */
body,html{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    background-color: rgb(50, 52, 56);
}